<h1 style="text-align: center">Home</h1>

<div class="container">

  <p class="fs-5">¿Qué quieres hacer?</p>

  <form *ngFor="let option of options; let i = index">

    <div class="form-check">
      <input type="checkbox" class="form-check-input" name="option.isChecked" [(ngModel)]="option.isChecked"
        (change)="updateTotal()" /><label class="form-check-label mx-1">{{ option.label }}</label>
      <span *ngIf="i === 0">
        <app-panel [optionsHomeComponent]="options"></app-panel>
      </span>
    </div>

  </form>

  <br>

  <h5>Total: {{ getTotalWithExtras() }}€</h5>

</div>


<router-outlet></router-outlet>