.form-check-input {
    background-color: #ff7700;
}

.form-control {
    width: 450px;
}

.budget-form {
    border: 3px solid black;
    background-color: rgb(211, 210, 210);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
