<h1 style="text-align: center">Home</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <p>¿Qué quieres hacer?</p>
      <form *ngFor="let option of options; let i = index">
        <input type="checkbox" class="mx-1" name="option.isChecked" [(ngModel)]="option.isChecked"
          (change)="updateTotal()" /><label>{{ option.label }}</label>
        <span *ngIf="i === 0">
          <app-panell [optionsHomeComponent]="options" [totalHomeComponent]="total"></app-panell>
        </span>
      </form>
      <p>Total: {{ total }}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>