<div class="d-flex justify-content-around mb-3">
  <button class="btn btn-secondary" style="width: 125px" (click)="sortBudgetListAlphabeticallyByName()">Sort by
    name</button>
  <button class="btn btn-secondary" style="width: 125px" (click)="sortBudgetListByDate()">Sort by
    date</button>
  <button class="btn btn-secondary" style="width: 125px">Reset</button>

</div>

<p class="fs-5">Budget list</p>
<table class="table mt-3 shadow-sm">
  <thead class="table-secondary">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Client</th>
      <th>Services</th>
      <th>Pages</th>
      <th>Languages</th>
      <th>Total</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody *ngFor="let budget of this.calculatorService.getBudgets(); let i = index">
    <tr>
      <td>{{ budget.getId() }}</td>
      <td>{{ budget.getBudgetName() }}</td>
      <td>{{ budget.getClientName() }}</td>
      <td>
        <ul *ngFor="let label of budget.getLabels()" style="list-style: none">
          <li>{{ label }}</li>
        </ul>
      </td>
      <td>{{ budget.getWebExtras().pages }}</td>
      <td>{{ budget.getWebExtras().languages }}</td>
      <td>{{ budget.getTotal() }}</td>
      <td>{{ budget.getDate().toLocaleDateString() }}</td>
    </tr>
  </tbody>
</table>