<!-- Sort and search commands -->
<div class="container">
  <div class="row">
    <div class="clo-12">
      <div class="d-flex justify-content-around mb-3">
        <button class="btn btn-secondary" (click)="sortBudgetListAlphabeticallyByName()">Sort by
          name</button>
        <button class="btn btn-secondary" (click)="sortBudgetListByDate()">Sort by
          date</button>
        <button class="btn btn-secondary" (click)="sortBudgetListByDate()">Restart</button>
        <input type="text" style="border-radius: 10px;" name="filterByName" placeholder=" search by name..."
          [(ngModel)]="filterByName">
      </div>

    </div>
  </div>
</div>

<!-- Budget table -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table mt-3 shadow-sm">
        <thead class="table-secondary">
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Client</th>
            <th>Services</th>
            <th>Pages</th>
            <th>Languages</th>
            <th>Total</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let budget of (this.calculatorService.getBudgets() | budgetPipe:filterByName)">
            <td>{{ budget.getId() }}</td>
            <td>{{ budget.getBudgetName() | titlecase }}</td>
            <td>{{ budget.getClientName() }}</td>
            <td>
              <ul *ngFor="let label of budget.getLabels()" style="list-style: none">
                <li>{{ label }}</li>
              </ul>
            </td>
            <td>{{ budget.getWebExtras().pages }}</td>
            <td>{{ budget.getWebExtras().languages }}</td>
            <td>{{ budget.getTotal() | currency:'EUR' }}</td>
            <!-- <td>{{ budget.getDate().toLocaleDateString() }}</td> -->
            <td>{{ budget.getDate() | date:'medium' | lowercase }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
