<p class="fs-5">Budget list</p>
<table class="table mt-3 shadow-sm">
  <thead class="table-secondary">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Client</th>
      <th>Services</th>
      <th>Pages</th>
      <th>Languages</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody *ngFor="let budget of budgets; let i = index">
    <tr>
      <td>{{ i + 1 }}</td>
      <td>{{ budget.getBudgetName() }}</td>
      <td>{{ budget.getClientName() }}</td>
      <td>
        <ul *ngFor="let label of budget.getLabels()" style="list-style: none">
          <li>{{ label }}</li>
        </ul>
      </td>
      <td>{{ budget.getWebExtras().pages }}</td>
      <td>{{ budget.getWebExtras().languages }}</td>
      <td>{{ budget.getTotal() }}</td>
    </tr>
  </tbody>
</table>
