<!-- Reactive form -->
<form [formGroup]="panelForm" class="form-container my-3 py-5" *ngIf="options[0].isChecked">

    <!-- Input and buttons for pages -->
    <div class="mx-3 d-flex align-items-baseline">
        <p>Número de páginas:</p> &nbsp;

        <button class="add btn bg-info mx-1" (click)="setExtra('page', 'add')">+</button>
        <input class="my-1" type="text" [(ngModel)]="pages" (keyup)="updateExtras()" formControlName="pages" />
        <button class="delete btn bg-info mx-1" (click)="setExtra('page', 'delete')">-</button>

        <!-- Required alert message -->
        <div *ngIf="panelForm.get('pages')?.touched && panelForm.get('pages')?.errors?.['required']"
            class="alert alert-danger">
            This field is required.
        </div>

        <!-- Min value alert message -->
        <div *ngIf="!isMinQuantityValid('pages')" class="alert alert-danger">
            Minimum 1 page is required.
        </div>

        <!-- Letters alert message -->
        <div *ngIf="panelForm.get('pages')?.touched && panelForm.get('pages')?.errors?.['pattern']"
            class="alert alert-danger">
            Only integer numbers are allowed.
        </div>
    </div>

    <!-- Input and buttons for languages -->
    <div class="mx-3 d-flex align-items-baseline">
        <p>Número de idiomas:</p> &nbsp;

        <button class="add btn bg-info mx-1" (click)="setExtra('language', 'add')">+</button>
        <input class="my-1" type="text" [(ngModel)]="languages" (keyup)="updateExtras()" formControlName="languages" />
        <button class="delete btn bg-info mx-1" (click)="setExtra('language', 'delete')">-</button>

        <!-- Required alert message -->
        <div *ngIf="panelForm.get('languages')?.touched && panelForm.get('languages')?.errors?.['required']"
            class="alert alert-danger">
            This field is required.
        </div>

        <!-- Min value alert message -->
        <div *ngIf="!isMinQuantityValid('languages')" class="alert alert-danger">
            Minimum 1 language is required.
        </div>

        <!-- Letters alert message -->
        <div *ngIf="panelForm.get('languages')?.touched && panelForm.get('languages')?.errors?.['pattern']"
            class="alert alert-danger">
            Only integer numbers are allowed.
        </div>
    </div>
</form>
<!-- <p> {{ panelWebForm.value | json }} </p> -->