<!-- Reactive form -->
<form [formGroup]="panelWebForm" class="form-container my-3 py-5" *ngIf="options[0].isChecked">

    <!-- Input and buttons for pages -->
    <div class="mx-3 d-flex align-items-baseline">
        <p>Número de páginas:</p> &nbsp;

        <button class="btn bg-info mx-1" (click)="addPage()">+</button>

        <input class="my-1" type="text" value="pages" [(ngModel)]="pages" (keyup)="updateWebExtras()"
            formControlName="pages" />

        <button class="btn bg-info mx-1" (click)="deletePage()">-</button>

        <!-- Required alert message -->
        <div *ngIf="panelWebForm.get('pages')?.touched && panelWebForm.get('pages')?.errors?.['required']"
            class="alert alert-danger">
            This field is required.
        </div>

        <!-- Min value alert message -->
        <div *ngIf="!isMinNumValid(1)" class="alert alert-danger">
            Minimum 1 page is required.
        </div>

        <!-- Letters alert message -->
        <div *ngIf="panelWebForm.get('pages')?.touched && panelWebForm.get('pages')?.errors?.['pattern']"
            class="alert alert-danger">
            Only integer numbers are allowed.
        </div>
    </div>

    <!-- Input and buttons for languages -->
    <div class="mx-3 d-flex align-items-baseline">
        <p>Número de idiomas:</p> &nbsp;

        <button class="btn bg-info mx-1" (click)="addLanguage()">+</button>

        <input class="my-1" type="text" value="languages" [(ngModel)]="languages" (keyup)="updateWebExtras()"
            formControlName="languages" />

        <button class="btn bg-info mx-1" (click)="deleteLanguage()">-</button><br><br>

        <!-- Required alert message -->
        <div *ngIf="panelWebForm.get('languages')?.touched && panelWebForm.get('languages')?.errors?.['required']"
            class="alert alert-danger">
            This field is required.
        </div>

        <!-- Min value alert message -->
        <div *ngIf="!isMinNumValid(2)" class="alert alert-danger">
            Minimum 1 language is required.
        </div>

        <!-- Letters alert message -->
        <div *ngIf="panelWebForm.get('languages')?.touched && panelWebForm.get('languages')?.errors?.['pattern']"
            class="alert alert-danger">
            Only integer numbers are allowed.
        </div>
    </div>
</form>
<!-- <p> {{ panelWebForm.value | json }} </p> -->